body {
    margin: 0;

    background-color: floralwhite;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.wrapper {
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column;
}

header {
    position: relative;
    top: 0;

    width: 100%;

    padding: 10px 0;

    background-color: lightgray;
    text-align: center;
}

header h1 {
    font-size: x-large;
}

footer {
    width: 100%;

    padding: 20px 0;

    background-color: lightgray;
    text-align: center;
    font-size: small;
}

footer span {
    padding: 0 50px;
}

footer a {
    margin-left: 15px;

    color: dimgrey;
}

div#root {
    display: flex;
    flex-flow: column;
    padding: 35px;
    flex-grow: 1;
}

div#app {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;

    height: 100%;
}

/* TABS */

nav div {
    padding: 20px;

    display: inline;

    background-color: white;
    border: 2px solid lightgrey;
    color: lightgrey;
}

nav div.current {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    border-bottom-style: none;
    color: black;
}

/* MESSAGES LIST */

div.messages {
    position: relative;
    top: 20px;
    flex-grow: 1;

    display: flex;
    flex-flow: column;

    padding: 30px;

    background-color: white;
    border: 2px solid lightgrey;
}

ul.msg_list {
    display: flex;
    flex-flow: column;

    flex-grow: 1;

    padding-left: 0;

    overflow-y: auto;

    list-style: none;
}

li > div.msg {
    width: auto;

    background-color: floralwhite;
    border: 1px solid lightgray;
    border-radius: 10px;

    padding: 10px 20px;
    margin-bottom: 20px;

    overflow: auto;
}

li > div.user_msg {
    align-self: flex-end;

    background-color: white;
}

div.msg_header {
    margin-bottom: 10px;

    font-size: small;
    color: dimgrey;
}

div.msg_header > span {
    margin-right: 20px;
}

div.msg_content {
    word-wrap: normal;
}

/* NEW MESSAGE FORM */

form {
    display: flex;
}

textarea {
    flex-grow: 1;
    height: 5em;
}

/* USERNAME DIALOG */

div.dialogShadow {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
}

div.dialogShadow div.dialog {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 300px;

    align-self: center;

    background-color: white;
    border: 2px solid lightgray;
}
